@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,800&display=swap');


:root {
    --navbar-height:85px;

    --border-width:3px;
    --border-radius:30px;
    --border-radius-half:calc(var(--border-radius) * 0.4);


    --primary:#1f2335;
    --secondary:#24283b;

    --tertiary:#fff;
    --tertiary-muted:#999;
}

* {
    font-family: 'Nunito';
}

h1, h2, h3, h4, h5, h6, p {
    margin:0;
    padding:0;

    color: var(--tertiary);
    font-weight: normal;
}

head, body {
    margin:0;
    padding:0;

    background:var(--primary);
}

/* #region Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 1000px;
}
/*#endregion */

/* #region navbar */
#navbar {
    position:fixed;
    top:0;
    left:0;

    display:flex;
    justify-content: space-between;
    align-items: center;

    width: calc(100vw - 4%);
    height:var(--navbar-height);

    margin:0;
    padding:0 2%;

    font-size: 30px;
    font-weight: lighter;
    color:var(--tertiary);

    /* border-style:solid;
    border-width: 0;
    border-bottom-width: var(--border-width); */
    
    filter:drop-shadow(0 0 10px #0003);

    background:var(--secondary);

    z-index: 1000 !important;
}

#navbar h1 {
    margin:0;
    padding:0;

    font-weight: lighter;
    color:var(--tertiary);
}

#navbar > div {
    display:flex;
    justify-content: center;
    align-items: center;

    height:100%;
}

#navbar img {
    font-size: 0;
    padding:0;
    margin:0;
    height:70%;
}
/* #endregion */

/* #region Stock */
.stock-container {
    overflow-x:scroll;

    display:flex;
    align-items: center;

    padding: 2ch 5em 2ch 5em !important;

    transition-duration:0.3s;
}

.stock-container::-webkit-scrollbar {
    height: 0.5ch;
}

.stock-container::-webkit-scrollbar-thumb {
    background:white;
}

.stock {
    overflow:hidden;

    position:relative;

    width: 55ch;
    min-width: 55ch;
    height: 35ch;

    margin-right:5ch;

    background:var(--secondary);

    border-radius:2ch;

    filter:drop-shadow(0 1ch 1ch #0001);
}

.stock > img {
    position:absolute;
    top:0;
    left:0;

    width: 100%;

    z-index: 10;
}

.stock #info {
    display:flex;
    justify-content: space-between;
    align-items: center;

    position:absolute;

    width:calc(100% - 6ch);
    bottom:0;
    background:linear-gradient(#0000, #0007, #0008);

    padding:5ch 3ch 1ch 3ch;

    z-index: 50;
}

.stock #pricing {
    width:35%;

    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.stock #growth {
    display:flex;
    justify-content: space-evenly;
    align-items: center;

    flex-direction: column;

    font-size: small;
}

.stock #growth img {
    height:2ch;
    width:2ch;
}

.stock #growth.bull h3 {
    color:lime;
}

.stock #growth.bear h3 {
    color:red;
}

.stock #growth.bull img:last-child {
    display:none;
}

.stock #growth.bear img:nth-child(1) {
    display:none;
}
/* #endregion */
